body {
        background-color: #fff;
        color: #333;
        font:
                1.2em / 1.5 Helvetica Neue,
                Helvetica,
                Arial,
                sans-serif;
        padding: 0;
        margin: 0;
        position: relative;
        min-height: 100vh;
}

body::after {
        content: '';
        display: block;
        height: 60px;
        /* Set same as footer's height */
}

a {
        color: rgb(75, 70, 74);
        text-decoration: underline;
}

a:visited {
        color: slategray;
}

a:hover {
        color: #fff;
        background-color: rgb(55, 50, 54);
}

html {
        box-sizing: border-box;
        height: 100%;
        padding: 0;
        margin: 0;
}

.page-header,
.page-footer {
        background-color: rgb(75, 70, 74);
        color: #fff;
        padding: 0px;
}

.page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        justify-content: center;
        display: flex;
}

.page-footer a {
        padding: 0.5em 1em;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
}


.footer-text-div {
        padding: 0.5em 1em;
        color: #fff;
        border-right: 1px;
        border-right-color: #fff;
        border-right-style: solid;
}

.footer-active-div {
        padding: 0.5em 1em;
        color: #fff;
        background-color: rgb(55, 50, 54);
}

.page-body {
        padding: 20px;
}

.startpage-body {
        padding-top: 10%;
}

.main-nav {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
}

.main-nav a {
        padding: 0.5em 1em;
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
}

.main-nav div {
        padding: 0.5em 1em;
        display: block;
        color: #fff;
        background-color: rgb(55, 50, 54);
}

.main-nav img {
        padding: 0.5em;
        display: block;
}

.push {
        margin-left: auto;
}

img {
        max-width: 100%;
        height: auto;
}

@media screen and (max-width: 600px) {
        .main-nav {
                display: block;
        }
}

.quotation {
        text-align: center;
}

.author {
        text-align: right;
        padding-right: 5%;
}